@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Forgot Password</h1>

<form method="post" asp-action="ForgotPassword">
    <input name="Email" placeholder="Email" type="text" />
    <input name="newPassword" placeholder="Password Baru" type="password" />
    <button type="submit">Update</button>
</form>