
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" asp-action="Login">
    <input name="username" type="text"/>
    <input name="password" type="password" />
    <button type="submit">Login</button>
</form>

